flask[async]==2.3.2
flask_cors==4.0.0
bcrypt==4.0.1
pyyaml==6.0.1
openai==0.27.8
chromadb==0.3.29
langchain==0.0.257
pypdf2==3.9.0
tiktoken==0.4.0
nltk==3.8.1
print_color==0.4.6
duckduckgo-search==3.8.4
promptfoo==9.7.2
termcolor==2.3.0